@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(../font/raleway.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway'
}

h1{
    text-align: center;
    font-size: 70px;
}

#section-title{
    background: #f1f1f1;
    font-weight: normal;
    color: #566265;
}

.wrapper{
    width: 1000px;
    margin: auto;
    padding: 50px 20px;
}

.table{
    display: table;
    margin: auto;
}

.tr{
    display: table-row;
}

.td{
    display: table-cell;
    padding: 5px 0px;
}

form{
    margin-top: 50px;
}

.fo-label{
    width: 300px;
    vertical-align: top;
}

input:not([type="radio"]),
select{
    height: 35px;
    padding-left: 10px;
    width: 100%;
}

::-webkit-inner-spin-button{
    height: 100%;
}

.double input,
.double select{
    width: 48%;
}

.double input.second,
.double select.second{
    float: right;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
}

input:not([type="radio"]), textarea, select{
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    outline: none;
}
input:not([type="radio"]):focus, textarea:focus, select:focus{
    border: 1px solid #21cdf1;
    -webkit-box-shadow: 0px 0px 4px #00d3ff;
    box-shadow: 0px 0px 4px #00d3ff;
}

.fo-address-2{
    margin-top: 5px;
}

.submit button{
    display: block;
    margin: auto;
    height: 50px;
    line-height: 50px;
    border: none;
    outline: none;
    padding: 0 50px;
    margin-top: 50px;
}

.fo-errors{
    margin-top: 5px;
}

.fo-submit{
    cursor: pointer;
}

#fo-required-fields{
    position: absolute;
}

#fo-required-fields.fixed{
    position: fixed;
}
